


.about-title{
    font-family: Open Sans;
font-size: 25px;
font-weight: 700;

text-align: center;

}


.about-description{
    font-family: Open Sans;
font-size: 12px;
font-weight: 400;

text-align: center;

}

*{
    margin:0px;
    padding: 0px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight:700;
    color:white;
    border:none;
    border-radius: 5px;
    padding:5px 20px
  
} 
button i{
    margin-right: 10px;
}


#contact-btn{
    color:#FD6E0A;
    background-color: white;
    border:1px solid #FD6E0A
}
/* nav-related style */
.nav-title{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight:800;
  
}

.primary-color{
    color:#FD6E0A
}


nav{
    display: flex;
    align-items: center;
    padding:20px 80px 0px 180px;
    justify-content: space-between;
}


nav ul{
    display: flex;
    align-items: center;
}


nav li{
    list-style: none;
    margin-right: 30px;

}


nav li a{
    text-decoration: none;
    color: #474747;
    font-size: 14px;
    font-weight:400;
   
}


/* banner related style */
.header{
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.banner-container{
  display: flex;
  align-items: center;
  padding:0px 30px 0px 80px;
  justify-content: space-between;
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner{
    max-width: 580px;
    padding-left:100px;
  
}

.banner-greetings{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}


.banner-title{
    font-family: "Open Sans", sans-serif;
    font-size:45px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top:0px
}


.banner-description{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top:0px
}

/* main-related style */
main{
  margin:0px auto;
  max-width: 1140px;}
  
main section{
    margin:130px 0px
}

/* about-section related style */


.about{
    background: #FFF8F3;
    padding:230px;
    border-radius: 10px;
    margin:80px 0px;
   
}


.info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.info{
    text-align: center;
}


.info-title{
    font-weight: 400;
}

.info-description{
    font-weight: 700;
}


.about-description{
    font-weight:400px;
    font-size: 12px;
    /* margin-top: 20px; */
    color:#757575;
}

/* what i don section style */
#what-i-do-description{
 padding:30px 150px;
 color:#757575;

}


.skill-container{
    display: flex;
   gap:30px
}


.skill{
    padding:20px;
    padding:30px;
    box-shadow: 0px 6px 50px 0px #0000000F;
    border-radius: 5px;
  
}

.skill-title{
    margin:30px 0px;
    font-size: 18px;
    font-weight: 700;
}


.skill-description{
    
    color:#757575;
   
    
}

/* resume style */
.column-container{
    display: flex;
    gap:20px
}


.column-title{
  
    font-family: Open Sans;
    font-size:25px;
    font-weight: 700;
   
    
}


.column-item-title{
    font-family: Open Sans;
font-size: 20px;
font-weight: 700;
margin-top:10px;
margin-bottom: 20px;

}


.column-title-institute{
    font-family: Open Sans;
font-size: 16px;
font-weight: 600;
margin:10px 0px;
color:#757575

}

.column-title-description{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
color: #757575;



}

.column hr{
    margin:20px 0px
}


.button-container{
    text-align: center;
    margin:50px 0px
}

/* footer style */


.footer{
    background: #FFF8F3;
    display:flex;
    gap:120px;
   
    margin-top:50px
}

.footer-column{
    width: 50%;
    padding:150px 150px;
    
}
.footer-column-title{
    font-family: Open Sans;
font-size: 25px;
font-weight: 700;
margin-bottom: 20px;
text-align: left;

}


.footer-column-description{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
color:#474747;
margin-bottom: 20px;

}




.social-container a{
    margin-right: 20px;
}

/* form styling */

.contact input[type="text"],input[type="email"],textarea{
    display: block;
    margin-bottom: 20px;
    width:80%;
    padding:20px 35px;
    font-size: 16px;
    border:none
}